* { 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 20px;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 216, 41);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

.button:hover {
    background-color: rgb(255, 230, 100);
    color: black;
    transform: scale(1.1);
}

button.button {
    border: none;
    font-family: inherit;
}

.link{
    text-decoration: none;  
    color: black; 
    position: relative;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.link:hover::after {
    transform: scaleX(1);
}

.title {
    font-size: 40px;
    margin-top: 50px;
    color: #333;
}

.description {
    font-size: 18px;
    color: #666;
    width: 50%;
    margin: 20px auto;
}

.advantages {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.box h3 {
    color: #333;
}

.box p {
    color: #666;
}


.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}
