{% extends 'baseInvoice.html' %}

{% block title %}{{client.name}}{% endblock %}

{% block button %}
    <form method="post" action="{% url 'invoices:clientDelete' client.id %}">
        {% csrf_token %}
        <button type="submit">Usuń klienta</button>
    </form>
{% endblock %}

{% block titlePage %}{{client.name}}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }} 
    <button type="submit" class="btn btn-primary">Zapisz klienta</button>
    <!-- <h1><strong>Nazwa Produktu:</strong> {{ client.name }}</h1> -->
    <a href="{% url 'invoices:clients' %}" class="btn">Powrót do listy</a>
</form>
{% endblock %}