{% extends 'baseInvoice.html' %}

{% block title %}Klienci{% endblock %}

{% block titlePage %}Klienci{% endblock %}

{% block button %}<a href="{% url 'invoices:clientForm' %}" class="btn">Dodaj Klienta</a>{% endblock %}

{% block content %}
    <input type="text" id="searchInput" name="searchInput" placeholder="Wyszukaj klientów...">
    <div class="grid" id="productGrid">
        {% for client in all_clients %}
        <a href="{% url 'invoices:clientDetail' client.id %}" class="clickable-card">
            <h2>{{ client.name }}</h2>
            <p>NIP: {{ client.nip_number }}</p>
        </a>
        {% endfor %}
    </div>
    {% if not all_clients %}
        <p>Brak klientów.</p>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    let timeout;
    const searchInput = document.getElementById("searchInput");
    searchInput.addEventListener("input", function (event) {
        clearTimeout(timeout);

        timeout = setTimeout(() => {
            let query = event.target.value;
            fetch(`/invoices/clients/filter-clients/?query=${query}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCSRFToken()
                }
            })
            
            .then(response => response.json())
            .then(data => {
                let productGrid = document.getElementById("productGrid");
                productGrid.innerHTML = "";

                if (data.clients.length > 0) {
                    data.clients.forEach(client => {
                        let productCard = document.createElement("a");
                        productCard.href = `/invoices/clients/${client.id}`;
                        productCard.classList.add("clickable-card");

                        let h2 = document.createElement("h2");
                        h2.textContent = client.name;

                        let p = document.createElement("p");
                        p.textContent = `${client.nip_number}`;

                        productCard.appendChild(h2);
                        productCard.appendChild(p);
                        productGrid.appendChild(productCard);
                    });
                } else {
                    productGrid.innerHTML = "<p>Brak wyników.</p>";
                }
            })
            .catch(error => console.error("Błąd:", error));

        }, 500);
    })

    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
</script>
{% endblock %}
