{% extends 'base.html' %}

{% block title %}Faktury Sprzedazy{% endblock %}

{% block content %}
    <div class="header">
        <h1>Faktury sprzedaży</h1>
        <a href="{% url 'invoices:forms' %}" class="btn">Dodaj Fakturę Sprzedaży</a>
    </div>

    <div class="grid">
        {% for invoice in all_invoices %}
        <div class="card">
            <h2>{{ invoice.invoice_number }}</h2>
            <p>Klient: {{ invoice.client }}</p>
            <p>Produkt: {{ invoice.product }}</p>
            <a href="{% url 'invoices:detail' invoice.id %}" class="btn">Zobacz szczegóły</a>
        </div>
        {% empty %}
        <p>Brak faktur do wyświetlenia.</p>
        {% endfor %}
    </div>
{% endblock %}
        
