 {% extends 'baseInvoice.html' %}

{% block title %}{{invoice.invoice_number}}{% endblock %}

{% block button %}
    <form method="post" action="{% url 'invoices:invoiceDelete' invoice.id %}">
        {% csrf_token %}
        <button type="submit">Usuń fakturę</button>
    </form>
{% endblock %}

{% block titlePage %}{{invoice.invoice_number}}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        {{ formset.management_form }}
        <div id="product-formset">
            {% for form in formset %}
                <div class="product-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Zapisz fakturę</button>
        <a href="{% url 'invoices:invoices' %}" class="btn btn-secondary">Anuluj</a>
    </form>
{% endblock %}