{% extends 'baseInvoice.html' %}

{% block title %}Faktury Sprzedazy{% endblock %}

{% block titlePage %}Faktury Sprzedazy{% endblock %}

{% block button %}<a href="{% url 'invoices:invoiceCreate' %}" class="btn">Dodaj Fakturę Sprzedaży</a>{% endblock %}


{% block content %}
    <div class="grid">
        {% for invoice in all_invoices %}
        <a href="{% url 'invoices:invoiceDetail' invoice.id %}" class="clickable-card">
            <h2>{{ invoice.invoice_number }}</h2>
            <p>Klient: {{ invoice.client }}</p>
        </a>
        {% empty %}
        <p>Brak faktur do wyświetlenia.</p>
        {% endfor %}
    </div>
{% endblock %}
        
