{% extends 'base.html' %}

{% block title %}Faktury Sprzedazy{% endblock %}

{% block titlePage %}Faktury Sprzedazy{% endblock %}

{% block button %}<a href="{% url 'invoices:invoiceForm' %}" class="btn">Dodaj Fakturę Sprzedaży</a>{% endblock %}


{% block content %}
    <div class="grid">
        {% for invoice in all_invoices %}
        <div class="card">
            <h2>{{ invoice.invoice_number }}</h2>
            <p>Klient: {{ invoice.client }}</p>
            <p>Produkt: {{ invoice.product }}</p>
            <a href="{% url 'invoices:invoiceDetail' invoice.id %}" class="btn">Zobacz szczegóły</a>
        </div>
        {% empty %}
        <p>Brak faktur do wyświetlenia.</p>
        {% endfor %}
    </div>
{% endblock %}
        
