{% extends 'baseInvoice.html' %}

{% block title %}
{% if invoice.invoice_number %}
{{invoice.invoice_number}}
{% else %}
Dodaj Fakturę Sprzedazy
{% endif %}
{% endblock %}

{% block titlePage %}
{% if invoice.invoice_number %}
{{invoice.invoice_number}}
{% else %}
Dodaj Fakturę Sprzedazy
{% endif %}
{% endblock %}

{% block button %}
{% if invoice.id %}
<form method="post" action="{% url 'invoices:invoiceDelete' invoice.id %}">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Usuń fakturę</button>
</form>
{% else %}

{% endif %}

{% endblock %}

{% block content %}
<form method="post" class="form-container">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.client.id_for_label }}">{{ form.client.label }}</label>
        {{ form.client }}
    </div>

    <div class="form-group">
        <label for="{{ form.issue_date.id_for_label }}">{{ form.issue_date.label }}</label>
        {{ form.issue_date }}
    </div>

    <div class="form-group">
        <label for="{{ form.sale_date.id_for_label }}">{{ form.sale_date.label }}</label>
        {{ form.sale_date }}
    </div>

    <div class="form-group">
        <label for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label }}</label>
        {{ form.payment_method }}
    </div>
    <div class="form-group">
        <label for="{{ form.due_date.id_for_label }}">{{ form.due_date.label }}</label>
        {{ form.due_date }}
    </div>
    <div class="form-group">
        <label for="{{ form.bank_account.id_for_label }}">{{ form.bank_account.label }}</label>
        {{ form.bank_account }}
    </div>
    <input id="totalNettoInput" type="hidden" name="totalNetto" value="">
    <input id="totalVatInput" type="hidden" name="totalVat" value="">
    <input id="totalBruttoInput" type="hidden" name="totalBrutto" value="">
    <div id="product-container">
        {% for product in products %}
        <div class="product-entry" data-index="{{ forloop.counter0 }}">
            <input type="hidden" name="productId[]" value={{product.id}}>
            <label>Nazwa produktu:</label>
            <input type="text" name="productName[]" placeholder="Nazwa" value={{product.name}}>

            <label>Ilość:</label>
            <input type="number" class="productQuantity" name="productQuantity[]" placeholder="Ilość"
                value={{product.quantity}}>

            <label>VAT:</label>
            <select id="tax" class="productTax" name="productTax[]">
                <option value="23" {% if product.tax == 23 %}selected{% endif %}>23%</option>
                <option value="8" {% if product.tax == 8 %}selected{% endif %}>8%</option>
                <option value="7" {% if product.tax == 7 %}selected{% endif %}>7%</option>
                <option value="5" {% if product.tax == 5 %}selected{% endif %}>5%</option>
                <option value="4" {% if product.tax == 4 %}selected{% endif %}>4%</option>
                <option value="0" {% if product.tax == 0 %}selected{% endif %}>0%</option>
            </select>

            <label>Cena:</label>
            <input type="number" class="productPrice" name="productPrice[]" placeholder="Cena" value={{product.price}}>

            <button id="remove-product-{{ forloop.counter0 }}" type="button" class="btn btn-primary">Usuń
                produkt</button>
            <button id="add-exist-product-{{ forloop.counter0 }}" type="button" class="btn btn-primary">Dodaj</button>
            {% with outer_loop_counter=forloop.counter0 %}
            <ul class="dropdown-products" id="dropdownProducts">
                {% for createdProduct in createdProducts %}
                <li>
                    <button class="delete-btn" data-product-index={{ forloop.counter0 }} data-index={{ outer_loop_counter }}>{{ createdProduct.name }}</button>
                    
                </li>
                {% endfor %}

            </ul>
            {% endwith %}
        </div>
        {% empty %}

        {% endfor %}
    </div>
    <button id="add-product" type="button" class="btn btn-primary">Dodaj produkt</button>
    <button type="submit" class="btn btn-primary">Zapisz fakturę</button>
    <a href="{% url 'invoices:invoices' %}" class="btn btn-secondary">Anuluj</a>
</form>
<div class="bottombar">
    <p>Netto: <span id="totalNetto">0.00</span> PLN</p>
    <p>VAT: <span id="totalVat">0.00</span> PLN</p>
    <p>Suma: <span id="totalBrutto">0.00</span> PLN</p>
</div>

{% endblock %}

{% block script %}
<script>
    //get list user products
    userProducts = {}

    document.addEventListener("DOMContentLoaded", function () {
        fetch("/invoices/products/get-products/")
            .then(response => response.json())
            .then(data => {
                userProducts = data.products;
            })
            .catch(error => console.error("Błąd pobierania danych:", error));
    });
    
    let maxIndex = 0;
    // get highest product index
    let elements = document.querySelectorAll("[data-index]");
    elements.forEach(element => {
        let index = parseInt(element.dataset.index);
        if (index > maxIndex) {
            maxIndex = index;
        }
    });

    // calculate sum of price of all products
    function calculateTotal() {
        let totalNetto = 0;
        let totalVat = 0;
        let totalBrutto = 0;
        const prices = document.querySelectorAll(".productPrice");
        const vats = document.querySelectorAll(".productTax");
        const quantities = document.querySelectorAll(".productQuantity");

        prices.forEach((priceInput, index) => {
            const price = parseFloat(priceInput.value);
            const tax = parseInt(vats[index].value);
            const quantity = parseInt(quantities[index].value);

            if (!isNaN(price) && !isNaN(quantity)) {
                const productTotal = price * quantity;
                const vatTotal = price * quantity * tax / 100;
                totalNetto += productTotal;
                totalVat += vatTotal;
                totalBrutto += productTotal + vatTotal;
            }
        })


        document.getElementById("totalNetto").textContent = totalNetto.toFixed(2);
        document.getElementById("totalVat").textContent = totalVat.toFixed(2);
        document.getElementById("totalBrutto").textContent = totalBrutto.toFixed(2);

        document.getElementById("totalNettoInput").value = totalNetto.toFixed(2);
        document.getElementById("totalVatInput").value = totalVat.toFixed(2);
        document.getElementById("totalBruttoInput").value = totalBrutto.toFixed(2);
    }

    calculateTotal();

    // add div with new product
    document.getElementById("add-product").addEventListener("click", function (event) {
        event.preventDefault();
        maxIndex = maxIndex + 1;
        console.log(maxIndex)
        let container = document.getElementById("product-container");

        let newProduct = document.createElement("div");
        newProduct.classList.add("product-item");

        let dropdownHTML = '';
        userProducts.forEach((product, index) => {
            console.log(maxIndex)
            dropdownHTML += `<li>
                <button class="delete-btn" data-product-index=${index} data-index=${maxIndex}>${product.name}</button>
            </li>`;
        });

        newProduct.innerHTML = `
            <div class="product-entry" data-index="${maxIndex}">
                <input type="hidden" name="productId[]" value="">
                <label>Nazwa produktu:</label>
                <input type="text" name="productName[]"placeholder="Nazwa">

                <label>Ilość:</label>
                <input type="number" class="productQuantity" name="productQuantity[]" placeholder="Ilość" value=0>

                 <label>VAT:</label>
                    <select id="tax" class="productTax" name="productTax[]" placeholder="VAT" value=23>
                        <option value="23">23%</option>
                        <option value="8">8%</option>
                        <option value="7">7%</option>
                        <option value="5">5%</option>
                        <option value="4">4%</option>
                        <option value="0">0%</option>
                    </select>

                <label>Cena:</label>
                <input type="number" class="productPrice" name="productPrice[]" placeholder="Cena" value=0>

                <button id="remove-product-${maxIndex}" type="button" class="btn btn-primary">Usuń produkt</button>
                <button id="add-exist-product-${maxIndex}" type="button" class="btn btn-primary">Dodaj</button>
                <ul class="dropdown-products" id="dropdownProducts">
                    ${dropdownHTML}
                </ul>
            </div>
            `;

        container.appendChild(newProduct);
    })

    // delete div with product
    document.getElementById("product-container").addEventListener("click", function (event) {
        if (event.target) {
            let productId = event.target.id.replace("remove-product-", "");
            let productEntry = document.querySelector(`.product-entry[data-index='${productId}']`);

            if (productEntry) {
                productEntry.remove();
            }
        }
    });

    // fill product inputs
    document.getElementById("product-container").addEventListener("click", function (event) {
        event.preventDefault();
        if (event.target && event.target.classList.contains('delete-btn')) {
            let productIndex = event.target.dataset.productIndex;
            let maxIndex = event.target.dataset.index;
            console.log(productIndex, maxIndex)

            let productEntry = document.querySelector(`.product-entry[data-index='${maxIndex}']`);
            if (productEntry) {
                let nameInput = productEntry.querySelector("input[name='productName[]']");
                let taxSelect = productEntry.querySelector("select[name='productTax[]']");
                // let quantityInput = productEntry.querySelector("input[name='productQuantity[]']");
                let priceInput = productEntry.querySelector("input[name='productPrice[]']");
                
                nameInput.value = userProducts[productIndex].name;
                taxSelect.value = userProducts[productIndex].tax;
                priceInput.value = userProducts[productIndex].price_netto;
        }
    }
    })

    // show/hide dropdown menu
    document.getElementById("product-container").addEventListener("click", function (event) {
        event.preventDefault();
        if (event.target) {
            let productId = event.target.id.replace("add-exist-product-", "");
            let productEntry = document.querySelector(`.product-entry[data-index='${productId}']`);

            if (productEntry) {
                let dropdownMenu = productEntry.querySelector("ul[id='dropdownProducts']");
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                    } else {
                        dropdownMenu.style.display = "block";
                    }
            }
        }
    })

    // Event delegation
    document.getElementById("product-container").addEventListener("input", function (event) {
        if (event.target.classList.contains("productPrice") || event.target.classList.contains(
                "productQuantity") || event.target.classList.contains("productTax")) {
            calculateTotal();
        }
    });

    document.querySelectorAll(".productPrice, .productQuantity, .productTax").forEach(item => {
        item.addEventListener("input", calculateTotal);
    })
</script>
{% endblock %}