{% extends 'baseInvoice.html' %}

{% block title %}{{product.name}}{% endblock %}

{% block button %}
    <form method="post" action="{% url 'invoices:productDelete' product.id %}">
        {% csrf_token %}
        <button type="submit">Usuń produkt</button>
    </form>
{% endblock %}

{% block titlePage %}{{product.name}}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="btn btn-primary">Zapisz produkt</button>
        <!-- <h1><strong>Nazwa Produktu:</strong> {{ product.name }}</h1> -->
        <a href="{% url 'invoices:products' %}" class="btn">Powrót do listy</a>
    </form>
{% endblock %}