<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>Faktura {{ invoice.invoice_number }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

        body { font-family: "Open Sans", sans-serif; }
        h1 { text-align: center; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>

<h1>Faktura nr: {{ invoice.invoice_number }}</h1>

<p><strong>Sprzedawca</strong></p>
<p>ul. {{ user.street }}</p>
<p>{{ user.postal_code }} {{ user.city }}</p>
<p><strong>NIP:</strong> {{ user.nip_number }}</p>
<p><strong>Data wystawienia:</strong> {{ invoice.issue_date }}</p>
<p><strong>Data sprzedaży:</strong> {{ invoice.sale_date }}</p>
<p><strong>Klient:</strong> {{ invoice.client.name }}</p>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilość</th>
        <th>Cena netto</th>
        <th>VAT</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }} PLN</td>
        <td>{{ product.tax }}%</td>
    </tr>
    {% endfor %}
</table>

<p><strong>Łączna kwota:</strong> {{ invoice.total_brutto }} PLN</p>

</body>
</html>
